<!-- Blog Search Well -->

<!-- Blog Search Well -->
<div class="well">
	<h4>Search</h4>
	<div class="input-group">
		<input type="text" class="form-control">
		<span class="input-group-btn">
		<button class="btn btn-default" type="button">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		</span>
	</div>
	<!-- /.input-group -->
</div>

<div class="well">
	<h6>Connect</h6>
	<div class="social">
		<a class="social-twitter" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-facebook" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-youtube" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-google-plus" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-steam" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-steam fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-github" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-tumblr" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-reddit" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-android" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-android fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-apple" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-apple fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-instagram" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-linkedin" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-send" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-send fa-stack-1x fa-inverse"></i>
		</span></a>
		<a class="social-rss" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
		</span></a>
	</div>
</div>

<!-- Blog Categories Well -->
<div class="well">
	<h4>Categories</h4>
	<p></p>
	<ul class="list-unstyled">
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
	</ul>
</div>

<!-- Side Widget Well -->
<div class="well">
	<h4>Side Widget Well</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>