<h4>Connect</h4>
<div class="social">
	<a class="social-twitter" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-facebook" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-youtube" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-google-plus" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-steam" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-steam fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-github" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-tumblr" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-reddit" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-android" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-android fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-apple" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-apple fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-instagram" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-linkedin" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-send" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-send fa-stack-1x fa-inverse"></i>
		</span></a>
	<a class="social-rss" target="_blank" href="#"><span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
		</span></a>
</div>