<div class="categories">
	<h4>Categories</h4>
	<p></p>
	<ul class="list-unstyled">
		<li><a href="#">Category Name</a>
		</li>
		<li>
			<a href="#">Category Name</a>
			<ul class="list-unstyled">
				<li><a href="#">Category Name</a>
					<ul class="list-unstyled">
						<li><a href="#">Category Name</a>
						</li>
						<li><a href="#">Category Name</a>
						</li>
						<li><a href="#">Category Name</a>
						</li>
						<li><a href="#">Category Name</a>
						</li>
					</ul>
				</li>
				<li><a href="#">Category Name</a>
				</li>
				<li><a href="#">Category Name</a>
				</li>
				<li><a href="#">Category Name</a>
				</li>
			</ul>
		</li>
		<li><a href="#">Category Name</a>
		</li>
		<li><a href="#">Category Name</a>
		</li>
	</ul>
</div>