{{#each articles}}
	<article class="blog-post">
		<h2><a href="{{../url}}/{{this.uri}}">{{this.title}}</a></h2>
		<h5>{{info}}</h5>
		<div class="item-tags">
			{{>internal/tag-list}}
		</div>
	</article>
	<hr/>
{{/each}}