<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Your Title</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div class="container">

	<h3>menu</h3>
	{{#each menu}}
	[<a href="{{url}}">{{label}}</a>] -
	{{/each}}


	<h3>tags</h3>
	{{#each tags}}
	<span>({{@index}}) {{this}}</span> -
	{{/each}}

	<h3>body</h3>
	{{! Every view gets inserted here }}
	{{{content}}}
</div>

</body>
</html>